{% extends "pairwise/base.html" %}

{% block content %}
    {% if group_items %}
        <h4>Your Group {{ pk }} results:</h4>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Person ID Code</th>
                <th>Rank</th>
                <th>Wins</th>
                <th>Comparisons</th>
                <th>Probabilty</th>
                <th>SE</th>
            </tr>
            {% for item in group_items %}
            <tr>
                <td><a href="{% url 'item_detail.html' pk=item.id %}">{{ item.idcode_f }}</a></td>
                <td>{{ item.rank }}</td>
                <td>{{ item.wins }}</td>
                <td>{{ item.comps }}</td>
                <td>{{ item.probability }}</td>
                <td>{{ item.se }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no items in group {{ pk }}.</p>
    {% endif %}
{% endblock %}